<div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>SuperPower</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let Hero of heroList">
              <td>{{ Hero.id }}</td>
              <td>{{ Hero.name }}</td>
              <td>{{ Hero.superPower }}</td>
              <td>{{ Hero.address }}</td>
            </tr> -->
        </tbody>
      </table>
    </div>
</div>